<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Albums</title>
</head>
<body>
<h1>your Albums</h1>
<ul th:each="album:${albums}">
    <!--    <label>title</label><label th:text="${album.id}"></label><br><br>-->
    <li><label>Artist : </label><label th:text="${album.artist}"></label><br><br>
        <label>Title : </label><label th:text="${album.title}"></label><br><br>
        <label>Song Count : </label><label th:text="${album.songCount}"></label><br><br>
        <label>Image Url : </label><label th:text="${album.imageUrl}"></label><br><br>
        <label>length : </label><label th:text="${album.length}"></label><br><br></li>

</ul>

<button action="/newOne" method="get" type="submit"> add new album </button>
</body>
</html>